/* CSS DOCUMENT */ 

body {
	background: rgb(215, 215, 215);
	padding-left: .5em
}

h1 {
	margin: 1em 2em 1em 0em
	padding: 0em;
	color: rgb(0, 0, 250);
	font-size: 3em;
	font-family: sans-serif;
}

h2{
    color: rgb(26, 20, 180);
    font-family: sans-serif;
}

h3{
    color: rgb(23, 60, 190);
    padding-top: .5em;
    font-family: sans-serif;
}

h4{
	padding-top: .4em;
}

li{
    list-style: persian;
}

p {
	margin-left: 0em;
}
